/*
Author: Chandler Barlow
Description:
CSS Style sheet
Linked to the main component of Gif_App
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
/* */
.searchbar{
    width: 100%;
    padding: 1em;
    margin: 0px 0px 1em 0px;
    color: white;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
}
/* Input tag of search bar */
input{
    width : 30%;
    padding: .4em .9em;
    border: none;
    border-radius: 10em;
    font-size: 2em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
}
    /* Input on forms have an ugly blue outline by default
       when selected, I added this to get rid of it */
    input:focus{
        outline: none;
    }

img{
    width: 11em;
    height: 11em;
    margin: .2em;
    object-fit: cover;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.39);
}
/* The search button*/
.button {
    display: inline;
    padding: .30em;
    margin: .7em;
    color: rgb(37, 135, 201);
    border: 5px rgb(37, 135, 201) solid;
    border-radius: 10em;
}
    .button:hover {
        color: white;
        background-color: rgb(37, 135, 201);
        border: 5px rgb(37, 135, 201) solid;
        cursor: pointer;
    }

.spinner{
    margin: 10em auto;

}
.fullGif {
    width: 27em;
    height: 24em;
    background-color: white;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-52%, -50%);
    box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.315);
}

.fullGif .close {
    position: fixed;
    top: -3%;
    left: 93%;
    transform: translate(-10%, -1%);
    font-size: 1.7em;
    color: black;
}

.fullGif h1{
    color: gray;
    position: fixed;
    top: 85%;
    left: 15%;
    font-size: 1.7em;
    transform: translate(-85%, -15%);
}
.fullGif img{
    width: 27em;
    height: 21em;
    margin: .2em;
    object-fit: cover;
    position: fixed;
    top: 43%;
    left: 49%;
    transform: translate(-50%, -50%);
    
}

@media screen and (max-width: 500px){
    body{
        background-color: rgba(37, 135, 201, 0.116);
    }
    .searchbar{
        z-index: 10;
        position: fixed;
        top: 0;
        padding: 1em;
        width: 375px;
        margin: 0px 0px 1em 0px;
        color: white;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
    }
    input{
        width : 45%;
        padding: .9em;
        border: none;
        border-radius: 10em;
        font-size: 1.1em;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
    }
    .button {
        display: inline;
        padding: .7em;
        margin: .7em;
        color: rgb(37, 135, 201);
        border: 5px rgb(37, 135, 201) solid;
        border-radius: 10em;
        font-size: 1.1em;
    }
    .fullGif {
        display: hidden;
        background-color: white;
        position: fixed;
        top: 0%;
        left: 0%;
        
        box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.315);
    }
    img{
        z-index: 0;
        transform: translate(-0%, 30%);
        width: 20em;
        height: 20em;
        margin: .7em .3em;
        object-fit: cover;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.39);
    }
}

@media screen and (max-width: 320px){
    body{
        background-color: rgba(37, 135, 201, 0.116);
    }
    .searchbar{
        all: none;
        z-index: 10;
        position: fixed;
        top: 0;
        padding: .3em;
        width: 375px;
        margin: 0px 0px 0em 0px;
        color: white;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
    }
    input{
        position: relative;
        left: -8%;
        display: inline-block;
        width : 30%;
        padding: .9em;
        border: none;
        border-radius: 10em;
        font-size: 1.1em;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
    }
    .button {
        position: relative;
        left: -8%;
        display: inline-block;
        padding: .7em;
        margin: .7em;
        color: rgb(37, 135, 201);
        border: 5px rgb(37, 135, 201) solid;
        border-radius: 10em;
        font-size: 1.1em;
    }
    .fullGif {
        display: hidden;
        background-color: white;
        position: fixed;
        top: 0%;
        left: 0%;
        
        box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.315);
    }
    img{
        z-index: 0;
        transform: translate(-0%, 40%);
        width: 15em;
        height: 15em;
        margin: .7em .3em;
        object-fit: cover;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.39);
    }
}

